<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contratacion Fracasada</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/signup_style.css}">
</head>
<body>

<div class="container text-center">
    <div class="m-0 vh-100 row justify-content-center align-items-center">
        <div class="col-auto">
            <h1>Fallo la contratacion. El empleado ya esta contratado para esta oferta laboral</h1>
            <a href="/empleador/welcome" class="btn btn-secondary px-3" type="button">Volver a mis ofertas</a>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>