.btn{
    width: 20rem;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,#3b83ff,#B3CDE0);
    color: white;
}
img{
	margin: 0;
    padding: 0;
    height: 250px;
    width: 700px;
}

button a{
    color: white;
    text-decoration: none;
}