<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Curriculum Vitae</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
		<nav th:replace="layouts/header :: headergeneral"></nav>
			<form th:action="@{/curriculumVitae/modificar}" th:object="${curriculumVitae}"  method="POST">
				<div>
				<input type="hidden" th:field="*{estado}"/>
				<input type="hidden" th:field="*{id}"/>
				<input type ="hidden" th:field="*{ciudadano.id}"/>
				
					<form class="row">
							 <div class="col mb-3 mx-5">
							 	<br/>
								<figure class="text-center">
								  <blockquote class="blockquote">
								    <h3>Curriculum Vitae</h3>   
								    <cite>1° Parte</cite>
								  </blockquote>
								  <figcaption class="blockquote-footer">
								    Ingresa Datos <cite title="Source Title">Personales</cite>
								  </figcaption>
								</figure>							 
							 	<br />
								<div class="input-group">
								  <span class="input-group-text">Nombre y Apellido </span>
								  <input th:field="*{nombre}" type="text" aria-label="Primer Nombre" class="form-control" id="nombreId" placeholder="Tobias">
								  <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div> 
								  <input th:field="*{apellido}" type="text" aria-label="Apellido" class="form-control" id="apellidoId" placeholder="Gomez">
								  <div class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
								</div>
								<br />
								<div class="row g-3">
									<div class="col-md-4">
										<div class="input-group">
											<span class="input-group-text">Documento Nacional de Identidad </span>
										   <input th:field="*{dni}"type="number" aria-label="D.N.I." class="form-control" id="dniId" placeholder="43698579">
										  <div class="text-danger" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="input-group">
								  		<span class="input-group-text">Fecha de Nacimiento</span>
								  										  		<input th:field="*{fechaNacimiento}" type="date" aria-label="Fecha de Nacimiento" class="form-control" id="fechaNacimientoId" placeholder="02/01/02">
								 		<div class="text-danger" th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></div> 
										</div>
									</div>
									<div class="col-md-4">
										<div class="input-group">
										  <label class="input-group-text" for="estadoCivilId">Estado Civil</label>
										  <select class="form-select" th:field="*{estadoCivil}" id="estadoCivilId">
									    	<option th:each="estado: ${T(ar.edu.unju.fi.tpfinalgrupo8.util.EstadoCivil).values()}" th:value="${estado}" th:text="${estado.displayValue}"></option>
										  </select>
										  <div class="text-danger" th:if="${#fields.hasErrors('estadoCivil')}" th:errors="*{estadoCivil}"></div>
										</div>
									</div>
									<br />
								</div>
									<br />
									<figure>
									  <blockquote class="blockquote">
									    <p>Medio de Comunicación del Aspirante</p>
									  </blockquote>
									  <figcaption class="blockquote-footer">
									    Complete los siguientes apartados
									  </figcaption>
									</figure>
								<div class="row g-3">
									<div class="col-md-6">
										  <div class="input-group">
											  <span class="input-group-text">Correo Electrónico </span>
											  <input th:field="*{email}" type="email" aria-label="email" class="form-control" id="emailId" placeholder="tobiasGomez@gmail.com">
											  <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div> 
										  </div>
									      <br />
									</div>
									<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-text">Telefono de Contacto </span>
					  						<input th:field="*{telefono}" type="number" class="form-control" id="telefonoId" placeholder="3885084220">
					  						<div class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
										</div>
									</div>
									<br />
								</div>
								
									<blockquote class="blockquote">
									    <p>Lugar de Nacimiento y Residencia del Aspirante</p>
									  </blockquote>
									  <figcaption class="blockquote-footer">
									    Complete los siguientes apartados
									  </figcaption>
									</figure>
									<br />
								<div class="row g-3">
									<div class="col-md-4">
										<div class="input-group">
										  <label class="input-group-text" for="nacionalidadId">País de Nacimiento</label>
										  <select class="form-select" th:field="*{nacionalidad}" id="nacionalidadId">
												<option th:each="nacionalidad: ${T(ar.edu.unju.fi.tpfinalgrupo8.util.Nacionalidad).values()}" th:value="${nacionalidad}" th:text="${nacionalidad.displayValue}"></option>
										  </select>
										  <div class="text-danger" th:if="${#fields.hasErrors('nacionalidad')}" th:errors="*{nacionalidad}"></div>
										</div>
										<br />
									</div>
									<div class="col-md-4">
										<div class="input-group">
										  <label class="input-group-text" for="provinciaId">Provincia de Nacimiento</label>
										  <select class="form-select" th:field="*{provincias}" id="provinciasId">
												<option th:each="provincias: ${T(ar.edu.unju.fi.tpfinalgrupo8.util.Provincias).values()}" th:value="${provincias}" th:text="${provincias.displayValue}"></option>
										  </select>
										  <div class="text-danger" th:if="${#fields.hasErrors('provincias')}" th:errors="*{provincias}"></div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="input-group">
											<span class="input-group-text">Ciudad de Nacimiento</span>
					  						<input th:field="*{ciudad}" type="text" class="form-control" id="ciudadId" placeholder="San Salvador de Jujuy">
					  						<div class="text-danger" th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}"></div> 
										</div>
									</div>	
							 	</div>
								
								<div class="row g-3">
									<div class="col-md-4">
										<div class="input-group">
										  <label class="input-group-text" for="paisDeResidenciaId">País de Residencia</label>
										  <select class="form-select" th:field="*{paisDeResidencia}" id="paisDeResidenciaId">
												<option th:each="nacionalidad: ${T(ar.edu.unju.fi.tpfinalgrupo8.util.Nacionalidad).values()}" th:value="${nacionalidad}" th:text="${nacionalidad.displayValue}"></option>
										  </select>
										  <div class="text-danger" th:if="${#fields.hasErrors('paisDeResidencia')}" th:errors="*{paisDeResidencia}"></div>
										</div>
										<br />
									</div>
									<div class="col-md-4">
										<div class="input-group">
										  <label class="input-group-text" for="provinciaDeResidenciaId">Provincia de Residencia</label>
										  <select class="form-select" th:field="*{provinciaDeResidencia}" id="provinciaDeResidenciaId">
												<option th:each="provincias: ${T(ar.edu.unju.fi.tpfinalgrupo8.util.Provincias).values()}" th:value="${provincias}" th:text="${provincias.displayValue}"></option>
										  </select>
										  <div class="text-danger" th:if="${#fields.hasErrors('provinciaDeResidencia')}" th:errors="*{provinciaDeResidencia}"></div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="input-group">
											<span class="input-group-text">Ciudad de Residencia</span>
					  						<input th:field="*{ciudadResidencia}" type="text" class="form-control" id="ciudadResidenciaId" placeholder="Tunuyan">
					  						<div class="text-danger" th:if="${#fields.hasErrors('ciudadResidencia')}" th:errors="*{ciudadResidencia}"></div> 
										</div>
									</div>	
							 	</div>
										<div class="input-group">
											<span class="input-group-text">Domicilio de Residencia</span>
					  						<input th:field="*{domicilio}" type="text" class="form-control" id="domicilioId" placeholder="Avenida Ricardo Balbin 752">
					  						<div class="text-danger" th:if="${#fields.hasErrors('domicilio')}" th:errors="*{ciudadResidencia}"></div> 
										</div>
								
								<figure class="text-center">
								  <blockquote class="blockquote">
								   		<cite>2° Parte</cite>
								  </blockquote>
								  <figcaption class="blockquote-footer">
								    Ingresa Datos de su <cite title="Source Title">Experiencia Laboral y Educación</cite>
								  </figcaption>
								</figure>
								<br />
								<div class="input-group">
								  <span class="input-group-text">Experiencia Laboral</span>
								  <textarea th:field="*{experienciaLaboral}" class="form-control" aria-label="With textarea" placeholder="Analista y Mecanico en UTF" id="experienciaLaboralId"></textarea>
								  <div class="text-danger" th:if="${#fields.hasErrors('experienciaLaboral')}" th:errors="*{experienciaLaboral}"></div> 
								</div>
								<br />
								<div class="input-group">
								  <span class="input-group-text">Logros Obtenidos</span>
								  <input th:field="*{logrosObtenidos}" class="form-control" placeholder="Analista y Mecanico en UTF" id="experienciaLaboralId"></input>
								  <div class="text-danger" th:if="${#fields.hasErrors('logrosObtenidos')}" th:errors="*{logrosObtenidos}"></div> 
								</div>
								<br />
								<div class="input-group">
									<label class="input-group-text" for="nivelEducacionId">Nivel de Educación</label>
									<select class="form-select" th:field="*{nivelEducacion}" id="nivelEducacionId">
										<option th:each="nivelEducacion: ${T(ar.edu.unju.fi.tpfinalgrupo8.util.NivelEducacion).values()}" th:value="${nivelEducacion}" th:text="${nivelEducacion.displayValue}"></option>
									 </select>
									<div class="text-danger" th:if="${#fields.hasErrors('nivelEducacion')}" th:errors="*{nivelEducacion}"></div>
								</div>
								<br />
								<div class="input-group">
									<span class="input-group-text">Titulo Universitario</span>
					  				<input th:field="*{tituloUniversitarioOSecundario}" type="text" class="form-control" id="tituloUniversitarioOSecundarioId" placeholder="Analista Programador Universitario">
					  				<div class="text-danger" th:if="${#fields.hasErrors('tituloUniversitarioOSecundario')}" th:errors="*{tituloUniversitarioOSecundario}"></div> 
								</div>
								<br />
								<div class="input-group">
									<span class="input-group-text">Idiomas</span>
					  				<textArea th:field="*{idiomas}" type="text" class="form-control" id="idiomasId" placeholder="Inglés"></textArea>
					  				<div class="text-danger" th:if="${#fields.hasErrors('idiomas')}" th:errors="*{idiomas}"></div> 
								</div>
								<br />																
								<div class="input-group">
									<label class="input-group-text" for="conocimientosInformaticosId">Conocimiento Informático</label>
									<select class="form-select" th:field="*{conocimientosInformaticos}" id="conocimientosInformaticosIf">
										<option th:each="conocimientoInformatico: ${T(ar.edu.unju.fi.tpfinalgrupo8.util.ConocimientoInformatico).values()}" th:value="${conocimientoInformatico}" th:text="${conocimientoInformatico.displayValue}"></option>
									 </select>
									<div class="text-danger" th:if="${#fields.hasErrors('conocimientosInformaticos')}" th:errors="*{conocimientosInformaticos}"></div>
								</div>
								<br />
							</div> <br />
							<div class="col mb-3 mx-5">
								<div class="form-check form-switch">
								  <input class="form-check-input" type="checkbox" role="switch" id="controlId">
								  <label class="form-check-label" for="flexSwitchCheckDefault">Acepto compartir mi información con esta página y la creación de documentos relacionados a la misma</label>
								</div>
								  <br />
								 <div class="d-grid gap-2 d-md-flex center-content-md-end">
			  						<button class="btn btn-primary me-md-2" type="submit">Enviar</button>
			  						<a th:href="@{/inicio}" class="btn btn-secondary" type="button">Cancelar</a>
								</div>
							</div>
					</form>
				</div>
			</form>
	<br />
	<footer th:replace="layouts/footer.html ::footergeneral"></footer>
	
  	<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
  	
</body>
</html>