<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login_style.css}">
</head>
    <body>
        <div class="container-fluid">
            <div class="text-center">
                <img th:src="@{/images/login.jpg}" >
            </div>
            <div class="row justify-content-center">

                <div class="col text-center mt-5">


                    <h4 class="text-center">Login Empleador/Ciudadano</h4>

                    <form method="POST" th:action="@{/login}">
                        <div class="mt-2">
                            <label class="form-label" >Cuit/Cuil:</label>
                            <input type="number" name="username" id="username"/>
                        </div>

                        <div class="mt-2 mb-3">
                            <label for="password_empleador" class="form-label">Password:</label>
                            <input type="password" name="password" id="password_empleador"/>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-primary " type="submit">Login</button>
                        </div>

                        <div class="text-center  mt-3">
                            <button class="btn btn-secondary " ><a th:href="@{/inicio}">Volver</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
    </body>
</html>
