<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Welcome Empleador</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/empleadorStyle.css}">
</head>
<body>
<nav th:replace="layouts/header :: headergeneral"></nav>

    <div class="col-12 screen" >
        <h3 class="fw-bold text-center my-2">Busquedas </h3>
        <hr/>
        <div>
            <div class="row">
                <div class="col-6 px-5" >
                    <h4 class="fw-bold px-5">Candidatos por Provincia</h4>
                    <form th:action="@{/empleador/postulantes}">
                        <div class="px-5">
                            <select class="form-control mb-3" th:name="provincia" id="provinciaId">
                                <option th:each="provincia : ${T(ar.edu.unju.fi.tpfinalgrupo8.util.Provincias).values()}" th:value="${provincia}" th:text="${provincia.displayValue}"></option>
                            </select>
                        </div>
                        <div class="px-5">
                            <input class="btn btn-color text-white" type="submit" value="Buscar">
                        </div>
                    </form>
                </div>
                <div class="col-6 " >
                    <h4 class="fw-bold px-5">Candidatos por Experiencia</h4>
                    <form th:action="@{/empleador/postulantes}">
                        <div class="px-5">
                            <input type="text" class="form-control mb-3" th:name="experiencia">
                        </div>
                        <div class="px-5">
                            <input class="btn btn-color text-white" type="submit" value="Buscar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr/>
        <div class="px-5 py-4 rounded-bottom">
            <h3 class="fw-bold text-center my-2">Mis Ofertas Laborales </h3>
            <div class="mb-4 d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-blue-ligth btn-lg"><a th:href="@{/oferta/}+${empleador.id}+@{/nuevo}">Nueva Oferta</a></button>
            </div>
            <table th:unless="${#lists.isEmpty(ofertas)}" class="table table-bordered border border-3">

                <thead>
                <tr class="align-text-middle">

                    <th>Puesto Requerido</th>
                    <th>Cantidad de Vacantes</th>
                    <th>Disponibilidad Horaria</th>
                    <th>Salario</th>
                    <th>Disponible?</th>
                    <th>Opciones</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="oferta: ${ofertas}">
                    <td th:text="${oferta.puestoReq}"></td>
                    <td th:text="${oferta.cantidadVacantes}"></td>
                    <td th:text="${oferta.dispHoraria}"></td>
                    <td th:text="${oferta.salario}"></td>
                    <td th:text="${oferta.disponible}"></td>
                    <td >
                        <button class="btn btn-color">
                            <a th:href="@{/oferta/editar/}+${oferta.codigo}"> Modificar</a>
                        </button>
                        <button class="btn btn-color" >
                            <a th:href="@{/oferta/eliminar/}+${oferta.codigo}"> Dar de baja</a>
                        </button>
                        <button class="btn btn-color" >
                            <a th:href="@{/empleador/}+${oferta.id}+@{/postulantes}">Postulantes</a>
                        </button>
                        <button class="btn btn-color" >
                            <a th:href="@{/empleador/contratados/}+${oferta.id}">Contratados</a>
                        </button>

                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="${#lists.isEmpty(ofertas)}">
                <h2>Aun no se han creado ofertas</h2>
            </div>
        </div>
    </div>


<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>