<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Welcome Ciudadano</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/empleadorStyle.css}">
</head>
<body>
    <nav th:replace="layouts/headerEmpleador :: headerEmpleador"></nav>

    <div class="col-12">
        <h1>Welcome <span sec:authentication="name">User que hizo login</span> </h1>
        <div class="px-5 py-4 bg-white rounded-bottom">
            <div th:if="${curriculum!= null}" class="table table-bordered">
         		<div style="text-align: center">
		<h3 class="text-black center">Curriculum Vitae</h3>
		<div class="container center">
			<div class="row">
				<div class="row">
						<div class="card" style="width: 18rem;">
  							<img th:src="@{/images/curso01.jpg}" class="card-img-top" alt="...">
  							<div class="card-body">
    							<h5 th:text="${curriculum.nombre}" class="card-title"></h5>
    							<p>Titulo Universitario o Secundario: </p>
    								<p th:text="${curriculum.tituloUniversitarioOSecundario}" class="card-text"></p>
    							<p>Experiencia Laboral: </p>
    							<p th:text="${curriculum.experienciaLaboral}" class="card-text"></p>
    							<br />
    							<div>
    								<a th:href="@{/ciudadano/welcome}" id="inscripcionCurso" class="btn btn-primary">Volver</a>
    							</div>
  							</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
		</div>
          	</div>
    <div th:if="${curriculum== null}">
        <h2>Aun no se ha creado un curriculum</h2>
        <a th:href="@{/curriculumVitae/}+${ciudadano.id}+@{/nuevo}" class="btn btn-secondary" type="button">Crear un Curriculum</a>
    </div>

        </div>
    </div>




<footer th:replace="layouts/footer.html ::footergeneral"></footer>

<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>