<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Listado de ofertas laborales</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/cards_style.css}">
</head>
<body>
	<nav th:insert="layouts/header :: headergeneral"></nav>

<br />
<div style="text-align: center">
		<div th:unless="${#lists.isEmpty(oferta)}">
			<div class="container">
			<h3 class="text-black center">Lista de Ofertas Laborales</h3>
			<br />
			<div class="d-grid gap-2 d-md-flex justify-content-md-end me-0">
						<a th:href="@{/ciudadano/MisPostulaciones}" class="btn btn-primary" type="button">Mis Postulaciones</a>
			  			<a th:href="@{/inicio}" class="btn btn-secondary" type="button">Volver al inicio</a>
			</div>
			<br />
				<div class="row">
					<div class="row">
						<div th:each="oferta : ${oferta}" class="col-3 m-4">
							<div class="card" style="width: 18rem;">
		 							<img th:src="@{/images/trabajo04.png}" class="card-img-top" alt="...">
		 							<div class="card-body">
		   							<h5 th:text="${oferta.puestoResum}" class="card-title"></h5>
		   							<p>Puesto: </p>
		   							<p th:text="${oferta.puestoReq}" class="card-text"></p>
		   							<br />
		   							<p>Jornada laboral: </p>
		   							<p th:text="${oferta.jornada}" class="card-text"></p>
		   							<br />
		   							<p>Salario: </p>
		   							<p th:text="${oferta.salario}" class="card-text"></p>
		   							<br />
		   							<p>Vacantes:</p>
		   							<p th:text="${oferta.cantidadVacantes}" class="card-text"></p>
		   							<br />
		   							 <a th:href="@{/ciudadano/}+${ciudadano.dni}+@{/postular/}+${oferta.codigo}" class="btn btn-warning" type="button">Postularse</a>
		 							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>

<div th:if="${#lists.isEmpty(oferta)}">
        <div class="border text-center justify-content-md-end me-3 mt-2">
		    	<br />
		        <h5>Lo sentimos.</h5>
		        <h5>Debe esperar a que un empleador de nuestra plataforma de el alta de una Oferta Laboral</h5>
        <a th:href="@{/inicio/}" class="btn btn-warning" type="button">Volver al Inicio</a>
        </div>
    </div>
	<br />
	<footer th:replace="layouts/footer.html ::footergeneral"></footer>
	
	<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
	
</body>
</html>