<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Welcome Ciudadano</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/listaCurriculum_style.css}">
</head>
<body>
    <nav th:replace="layouts/headerCiudadano :: headerCiudadano"></nav>

        <div class="px-5 py-4 bg-white rounded-bottom">
            <div th:unless="${#lists.isEmpty(curriculum)}">
      <div style="text-align: center">
		<h3 class="text-black center">Mi Curriculum Vitae</h3>
		
		<div class="container">
			<div class="m-0 vh-100 row justify-content-center align-items-center">
  				<div class="col-auto">
			<div class="row">
				<div class="row">
						<div class="card" style="width: 25rem;">
  							<img th:src="@{/images/curriculum01.jpg}" class="card-img-top" alt="...">
  							<div class="card-body">
    							<h5 th:text="${curriculum.nombre}" class="card-title"></h5>
    							<h5 th:text="${curriculum.apellido}" class="card-title"></h5>
    							<br />
    							<br />
    							<p>Titulo Universitario: </p>
    							<p th:text="${curriculum.tituloUniversitarioOSecundario}" class="card-text"></p>
    							<br />
    							<br />
    							<p>Experiencia Laboral: </p>
    							<p th:text="${curriculum.experienciaLaboral}" class="card-text"></p>
    							<br />
    							<br />
    							<div class="cointainer">
    								<a href="#" class="btn btn-primary px-4">Ver más</a>
    								<a th:href="@{/curriculumVitae/editar/}+${curriculum.dni}" class="btn btn-warning px-4">Editar</a>
    								<a th:href="@{/curriculumVitae/eliminar/}+${curriculum.dni}" class="btn btn-danger">Eliminar</a>
    							</div>
  							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	</div>
	</div>		
</div>
    <div th:if="${#lists.isEmpty(curriculum)}">
        <div class="border text-center justify-content-md-end me-3 mt-2">
		    	<br />
		        <h4>Aún no ha creado a ningún Curriculum Vitae</h4>
        <a th:href="@{/curriculumVitae/}+${ciudadano.id}+@{/nuevo}" class="btn btn-warning" type="button">Crear un Curriculum Vitae</a>
        </div>
    </div>

        </div>



<br />

<footer th:replace="layouts/footer.html ::footergeneral"></footer>

<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>