<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Welcome Ciudadano</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/empleadorStyle.css}">
</head>
<body>
    <nav th:replace="layouts/headerEmpleador :: headerEmpleador"></nav>

    <div class="col-12">
        <h1>Welcome <span sec:authentication="name">User que hizo login</span> </h1>
        <div class="px-5 py-4 bg-white rounded-bottom">
            <div th:if="${curso!= null}" class="table table-bordered">
         		<div style="text-align: center">
		<h3 class="text-black center">Mis Datos</h3>
		
		<div class="d-grid gap-2 d-md-flex justify-content-md-end me-3">
  			<a th:href="@{/inicio}" class="btn btn-secondary" type="button">Volver al inicio</a>
  			<a th:href="@{/ciudadano/welcome/misCursos}" class="btn btn-secondary" type="button">Mis Cursos</a>
		</div>
		
		</div>
          	</div>
    <div th:if="${curso== null}">
        <h2>Aun no se ha creado un curriculum</h2>
    </div>

        </div>
    </div>




<footer th:replace="layouts/footer.html ::footergeneral"></footer>

<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>